<section>
    <ul class="nav nav-pills">
        <li ng-class="{ active : tab.isSelected(1) }">
            <a href ng-click="tab.selectTab(1)">Description</a>
        </li>
        <li ng-class="{ active : tab.isSelected(2) }">
            <a href ng-click="tab.selectTab(2)">Specifications</a>
        </li>
        <li ng-class="{ active : tab.isSelected(3) }">
            <a href ng-click="tab.selectTab(3)">Reviews</a>
        </li>
    </ul>

    <!-- Product description tab -->
    <product-description ng-show="tab.isSelected(1)"></product-description>

    <!-- Product specifications tab -->
    <div class="panel" ng-show="tab.isSelected(2)">
        <h4>Specifications</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin felis mi, at efficitur sapien eleifend non. Nam vestibulum viverra metus, vitae consectetur ex semper sit amet. Duis eu hendrerit nibh. Vestibulum ac justo sagittis tortor dignissim porta.</p>
    </div>

    <!--  Review Tab's Content  -->
    <div class="panel" ng-show="tab.isSelected(3)">
        <!--  Product Reviews List -->
        <ul class="list-unstyled">
            <h4>Reviews</h4>
            <li ng-repeat="review in product.reviews">
                <blockquote>
                    <strong>{{ review.stars }} Stars</strong>
                    {{ review.body }}
                    <cite class="clearfix">—{{ review.author }} on {{ review.createdOn|date:'dd-MM-yyyy' }}</cite>
                </blockquote>
            </li>
        </ul>

        <!--  Review Form -->
        <product-review-form></product-review-form>
    </div>
</section>
